<ion-header>
  <ion-toolbar>
    <ion-title>Priere</ion-title>
    <ion-menu-button slot="start"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
    <ion-item>
    <ion-label>Ville</ion-label>
    <ion-input type="=text" [(ngModel)]="city"></ion-input>
    <ion-button (click)="priereInfo()">OK</ion-button>
    </ion-item>
    </ion-card-content>
    </ion-card>
    <ion-card *ngIf="date">
      <ion-card-content>
        <ion-img src="assets/images/prayer.png"></ion-img>
      <ion-item>
      <ion-label>Fajr :{{date.results.datetime[0].times.Fajr}}</ion-label>
      </ion-item>
      <ion-item>
      <ion-label>Dhuhr :{{date.results.datetime[0].times.Dhuhr}}</ion-label>
      </ion-item>
      <ion-item>
      <ion-label>Asr :{{date.results.datetime[0].times.Asr}}</ion-label>
      </ion-item>
      <ion-item>
      <ion-label>Maghrib :{{date.results.datetime[0].times.Maghrib}}</ion-label>
      </ion-item>
      <ion-item>
      <ion-label>Isha :{{date.results.datetime[0].times.Isha}}</ion-label>
      </ion-item>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="date">
  <ion-card-content>
  <ion-list>
    
  <ion-item>
  <ion-avatar slot="start">
    <ion-img src="assets/images/sun.png"></ion-img>
  </ion-avatar>
  <ion-label>Levé</ion-label>
  <ion-label>{{date.results.datetime[0].times.Sunrise}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <ion-img src="assets/images/moon.png"></ion-img>
    </ion-avatar>
    <ion-label>Coucher</ion-label>
    <ion-label>{{date.results.datetime[0].times.Sunset}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/images/prayer.png"></ion-img>
      </ion-avatar>
      <ion-label>date hijri</ion-label>
      <ion-label>{{date.results.datetime[0].date.hijri}}</ion-label>
      </ion-item>
    
  </ion-list>
  </ion-card-content>
  </ion-card>
</ion-content>
    
